#Ignore all
*.*
*
#Ignore all with extensions

#Except for
!README.md
!EUPLv1_2.txt
!.gitignore
!*.c
!*.cc
!*.cpp
!*.h
!*.hh
!*.hpp
![Mm]akefile
!sorting/
!sorting/*.c
!sorting/*.h
!sorting/[Mm]akefile
!hello_pro/
!hello_pro/src
!hello_pro/**.cc
!hello_pro/include/
!hello_pro/include/**.hh
!hello_pro/CMakeLists.txt
hello_pro/Makefile

